<nav class="navbar">
    <div class="container navbar-content">

        <a href="#hero" class="navbar-brand">
            <span class="brand-icon">
                <i class="bi bi-code-slash"></i>
            </span>

            <span class="brand-text">
                Javier Moratalla Carrasco
            </span>
        </a>

        <div class="nav-links">
            <a href="#about">
                Sobre mí
            </a>

            <a href="#experience">
                Experiencia
            </a>

            <a href="#projects">
                Proyectos
            </a>

            <a href="#skills">
                Tecnologías
            </a>

            <a href="#contact" class="nav-contact">
                Contacto
            </a>
        </div>

    </div>
</nav>